{% extends 'base.html.twig' %}


{% block body %}

<h2 class="text-center p-2">Vente en ligne Symfony3.4</h2>

<div class="card w-25 m-5 mx-auto">
    <h5 class="card-header text-center">Authentification</h5>
    <div class="card-body" id="content_authentification">
        <div class="form-group row">
            <label for="input_mail" class="col-md-4 col-form-label">Adresse mail</label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="input_mail" placeholder="Votre adresse mail">
            </div>
        </div>
        <div class="form-group row mb-0">
            <label for="input_mdp" class="col-md-4 col-form-label">Mot de passe</label>
            <div class="col-md-8">
                <input type="password" class="form-control" id="input_mdp" placeholder="Votre mot de passe">
            </div>
        </div>
        <div class="form-group mt-2">
            <button id="btn_authentification"class="btn btn-sm btn-outline-primary btn-lg btn-block">Login</button>
            <button id="link_registration" class="btn btn-outline-dark btn-sm btn-lg btn-block">S'inscrire</button>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_registration_client">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Enregistrement client</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group row">
                    <label for="input_nom_client" class="col-md-4 col-form-label">Nom</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="input_nom_client" placeholder="Votre nom">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input_mail_client" class="col-md-4 col-form-label">Adresse mail</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="input_mail_client" placeholder="Votre adresse mail">
                    </div>
                </div>
                <div class="form-group row mb-0">
                    <label for="input_mdp_client" class="col-md-4 col-form-label">Mot de passe</label>
                    <div class="col-md-8">
                        <input type="password" class="form-control" id="input_mdp_client" placeholder="Votre mot de passe">
                    </div>
                </div>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
                <button id="btn_valid_inscription_client" type="button" class="btn btn-outline-success btn-sm btn-lg btn-block">Enregister</button>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}
