{% extends 'base.html.twig' %}

{% block body %}

<div class="m-5 w-50 mx-auto">
    <div class="row p-1">
        <div class="col-md-6">
            <h4>
            {% if client_data.getClientStatus == '0' %}
                Liste des articles
            {% else %}
                Menu    
             {% endif %}
            </h4>
        </div>
        {% if client_data.getClientStatus == '0' %}
            <div class="col-md-6 text-right">
                <button id="btn_ajout_article" class="btn btn-primary"><i class="fa fa-plus-square-o fa-1x" aria-hidden="true"> Ajouter un article </i></button>
            </div>
         {% endif %}
    </div>
    <table class="table table-striped">
        <thead>
            <tr class="col-md-12">
                {% if client_data.getClientStatus == '0' %}
                    <th scope="col-md-3">ID</th>
                {% endif %}
                <th scope="col-md-3">Nom</th>
                <th scope="col-md-3">Prix</th>
                <th scope="col-md-3">Déscription</th>
                <th scope="col-md-3">
                    {% if client_data.getClientStatus == '0' %}
                        Action
                    {% else %}
                        Commande
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for article in list_articles %}
                <tr class="{{ client_data.getId  }}_{{ article.getId }}">
                     {% if client_data.getClientStatus == '0' %}
                        <th scope="row">{{ article.getId }}</th>
                    {% endif %}
                    <td>{{ article.getArticleNom }}</td>
                    <td>{{ article.getArticlePrix }}</td>
                    <td>{{ article.getArticleDescription }}</td>
                    <td>
                        {% if client_data.getClientStatus == '0' %}
                            <div class="row">
                                <button value="{{ article.getId }}" class="btn btn-sm btn-danger m-1 btn_suppr_article"> <i class="fa fa-trash" aria-hidden="true"></i> </button>
                                <button value="{{ article.getId }}" class="btn btn-sm btn-dark m-1 btn_modif_article"> <i class="fa fa-pencil" aria-hidden="true"></i> </button>
                            </div>
                        {% else %}
                            <button value="{{ article.getId }}" class="btn btn-sm btn-success btn_ajout_commande"> <i class="fa fa-plus-square" aria-hidden="true"></i> </button>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
</div>


<div class="modal fade" id="modal_ajout_article">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ajout un article</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="input_article_nom" class="col-md-4 col-form-label">Nom d'article</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control input_ajout_article" id="input_article_nom" placeholder="..." >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input_article_prix" class="col-md-4 col-form-label">Prix d'article</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control input_ajout_article" id="input_article_prix" placeholder="..." >
                    </div>
                </div>
                <div class="form-group row mb-0">
                    <label for="input_article_description" class="col-md-4 col-form-label">Description d'article</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control input_ajout_article" id="input_article_description" placeholder="..." >
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn_valid_ajout_article" type="button" class="btn btn-outline-success btn-sm btn-lg btn-block">Ajouter</button>
            </div>
            
        </div>
    </div>
</div>


<div class="modal fade" id="modal_modif_article">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modification d'un article</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="input_modif_article_nom" class="col-md-4 col-form-label">Nom d'article</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control input_modif_article" id="input_modif_article_nom" placeholder="..." >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input_modif_article_prix" class="col-md-4 col-form-label">Prix d'article</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control input_modif_article" id="input_modif_article_prix" placeholder="..." >
                    </div>
                </div>
                <div class="form-group row mb-0">
                    <label for="input_modif_article_description" class="col-md-4 col-form-label">Description d'article</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control input_modif_article" id="input_modif_article_description" placeholder="..." >
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn_valid_modif_article" type="button" class="btn btn-outline-success btn-sm btn-lg btn-block">Modifer</button>
            </div>
            
        </div>
    </div>
</div>


{% endblock %}
