{% extends 'base.html.twig' %}

{% block body %}
    <div class="modal fade" id="modal_modif_article">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modification d'un article</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="input_modif_article_nom" class="col-md-4 col-form-label">Nom d'article</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control input_modif_article" id="input_modif_article_nom" placeholder="..." >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="input_modif_article_prix" class="col-md-4 col-form-label">Prix d'article</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control input_modif_article" id="input_modif_article_prix" placeholder="..." >
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <label for="input_modif_article_description" class="col-md-4 col-form-label">Description d'article</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control input_modif_article" id="input_modif_article_description" placeholder="..." >
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn_valid_modif_article" type="button" class="btn btn-outline-success btn-sm btn-lg btn-block">Modifer</button>
                </div>
                
            </div>
        </div>
    </div>

{% endblock %}